
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
*
{ margin: 0;
padding: auto;
}
body {font-family: 'Noto Serif', serif;
background: url();
}


.nav-item { margin-left: 50px;
    margin-right: 30px;
    padding: 15px;
}


.d-flex{
    margin-right: 50px;
    
}

hr{
border: solid 4px #000000; 
    background-color : #ffffff;
    width:65%;
    margin-left: 260px;
    border-radius: 20px;
    
}
h9 { margin-left: 8px;}